<header class="neon-header">
  <div class="container">
    <div class="logo d-flex">
      <img width="50px"  class="me-1" src="https://images.emojiterra.com/google/android-11/512px/1f986.png" alt="logo" />
      <h1>Nuit de l'Info</h1>
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="#" class="neon-link" [routerLink]="['/home']">Home</a></li>
        <li><a href="#" class="neon-link" [routerLink]="['/podcasts']">Nos Podcasts</a></li>
        <li><a href="#" class="neon-link" [routerLink]="['/ergonomique']">Formulaire</a></li>
      </ul>
    </nav>
  </div>
</header>
