<div class="container py-5">
  <form class="d-flex flex-column justify-content-center align-items-center" (ngSubmit)="login()">
    <div class="col-12 col-md-6">
      <label class="form-label">Email</label>
      <input class="form-control" id="email" [(ngModel)]="loginRequest.email" name="email" type="email" required>
    </div>
    <div class="col-12 col-md-6">
      <label class="form-label">Password</label>
      <input class="form-control" id="password" [(ngModel)]="loginRequest.password" name="password" type="password" required>
    </div>

    <button type="submit" class="btn btn-primary col-12 col-md-6 my-3">Se connecter</button>
  </form>
</div>
