<!-- about -->
<div class="about">
  <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
    <span class="icon"></span>
  </a>
  <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
    <span class="icon"></span>
  </a>
  <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
    <span class="icon"></span>
  </a>
  <a class="bg_links logo"></a>
</div>
<!-- end about -->

<div class="ocean">
  <div class="bubbles">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

  </div>


  <div class="moving-image" (click)="playAudio()">
    <img src="https://images.emojiterra.com/google/android-11/512px/1f986.png" alt="Moving Image">
  </div>


</div>
