
<div class="flip-card" [class.flipped]="isFlipped">
  <div class="flip-card-inner mx-1">
    <div class="flip-card-front">
      <p class="fw-bold fs-4">{{ mockData?.title }}</p>
      @for (option of mockData?.options; track option) {
        <button class="button-front mt-5 mx-5" (click)="changeFlipState()">{{ option }}</button>
      }
    </div>
    <div class="flip-card-back fw-bold fs-4">
      <p>{{ mockData?.answer }}</p>
      <button class="button-back mt-5"(click)="changeFlipState()">Flip again</button>
    </div>
  </div>
</div>

